/*! project specific CSS goes here. */
.modal-pause {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('/static/img/clock.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading-pause {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading-pause .modal-pause {
    display: block;
}

input{
    padding: 5px;
}

textarea{
    padding: 5px;
}

.mint-dark{
    background-color: #196f5f !important;
}
.dark-purple{
    background-color: #5b3055 !important;
}

table{
    font-size: 14px;
}
td, th{
    padding:5px 5px 5px 5px;
}